fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.3
python-multipart==0.0.9
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0
playwright==1.42.0

# Auth
bcrypt==4.1.2
python-jose[cryptography]==3.3.0
sqlalchemy==2.0.28
python-dotenv==1.0.1

# Database
psycopg2-binary>=2.9
alembic>=1.13

# AWS (Comprehend duygu analizi)
boto3>=1.34
